* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

button {
  border: none;
  background: none;
}
/* ************************** First Section Start ********************************************************* */
.first-section {
  background-image: linear-gradient(to right, #ff4900e8, #ff0000ed),
    url(./images/bg-pattern-intro-desktop.svg);
  background-position: 28% 50%;
  border-bottom-left-radius: 90px;
  box-shadow: 0px 0px 100vh 100vw #ffffff42 inset;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 75px;
  width: 100%;
}

/* ******************************* Header Start ********************************** */

.menu-icon,
.close-icon {
  display: none;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 20%;
  justify-content: center;
  padding: 1% 5%;
  width: 100%;
}
/* ************************************************* */
.header-logo {
  height: 90%;
  width: 20%;
}

.menu-div {
  display: flex;
  width: 80%;
}
/* ************** Header Menu ********************/

.menu-items-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* ********************* */
.items-div {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 35px;
  padding-left: 5%;
  width: 100%;
}

/* *********** */
.menu-item {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 120%;
  position: relative;
}

.menu-item h3::after {
  content: url(./images/icon-arrow-light.svg);
}

.menu-item:hover h3::after {
  content: url(./images/icon-arrow-light.svg);
  display: inline-block;
  transform: rotate(180deg);
}

.menu-item-drop {
  display: none;
  position: absolute;
}

.menu-item:hover .menu-item-drop {
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  display: block;
  padding: 20px;
}

.menu-item-drop p {
  padding: 10px;
}

.menu-item-drop p:hover {
  font-weight: bold;
}

/* *********** */

.login-signup-btns {
  align-items: center;
  display: flex;
  gap: 20px;
  width: 30%;
}
/* *********** */
.login-btn {
  color: white;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 120%;
}

.signup-btn {
  background-color: #fff;
  border-radius: 20px;
  color: #ff0000;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 120%;
  padding: 10px 20px;
}
/* *********** */

/* ******************************* Header End ********************************** */

/* ***************************** First section text Start ********************** */
.hero-text {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 80%;
  padding-top: 10%;
}

.hero-subject {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 80px;
  text-align: center;
}

.first-section-p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  text-align: center;
}

.first-section-btns {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.start-btn {
  border-radius: 50px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 115%;
  padding: 2% 4%;
}

.start-btn:hover {
  background-color: #fb2f2fd4;
  border: none;
}

.learn-btn {
  background-color: #fff;
  border-radius: 50px;
  color: #ff0000;
  cursor: pointer;
  font-size: 115%;
  padding: 10px 20px;
  padding: 2% 4%;
}
/* ***************************** First section text End ********************** */

/* ************************** First Section End ********************************************************* */

/* ************************** Second Section Start ********************************************************* */
.second-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.second-sec-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  overflow-x: hidden;
  width: 100%;
}

.desktop-editor-img {
  margin-right: -10%;
  max-height: 100%;
  width: 50%;
}

.phone-editor-img {
  display: none;
}

.second-section-h {
  color: #4a4dbb;
  font-family: system-ui;
  font-size: 50px;
  position: relative;
  top: 100px;
}

.second-sec-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  width: 50%;
}

.second-sec-h {
  color: #4a4dbb;
  font-family: system-ui;
  font-size: 30px;
  margin: 20px 0;
}

.second-sec-p {
  color: #adadad;
  font-family: system-ui;
  font-size: 20px;
}

/* ************************** Second Section End ********************************************************* */
/* ************************** Third Section Start ********************************************************* */
.third-section {
  /* padding: 0 10%; */
  align-items: center;
  background-color: #35397a;
  background-image: url("./images/bg-pattern-circles.svg");
  background-position: -15% 100%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
  display: flex;
  flex-direction: row;
  height: 30vh;
  justify-content: center;
  justify-content: center;
  margin: 15vh 0;
  width: 100%;
}

.third-sec-h {
  color: #fff;
  font-family: system-ui;
  font-size: 140%;
  margin: 20px 0;
}

.third-sec-text {
  padding: 0 2%;
  text-align: center;
}

.third-sec-p {
  color: #fff;
  font-family: system-ui;
  font-size: 100%;
}

.phone-img {
  width: 60%;
}

/* ************************** Third Section End ********************************************************* */

/* ************************** Fourth Section Start ********************************************************* */
.fourth-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 5% 0;
  width: 100%;
}

.fourth-sec-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 0 2%;
  text-align: center;
  width: 50%;
}

.desktop-laptop-img {
  margin-left: -10%;
  width: 50%;
}

.phone-laptop-img {
  display: none;
}

.fourth-sec-h {
  color: #4a4dbb;
  font-family: system-ui;
  font-size: 140%;
  margin-bottom: 20px;
}

.fourth-sec-p {
  color: #adadad;
  font-family: system-ui;
  font-size: 100%;
}

/* ************************** Fourth Section End ********************************************************* */

/* ************************** Footer Start ********************************************************* */
.footer {
  background-color: #35397a;
  border-top-left-radius: 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 6%;
  padding: 10% 10%;
  width: 100%;
}

.footer-h3 {
  color: #adadad;
  font-family: system-ui;
  font-size: 140%;
  margin-bottom: 20px;
}

.footer-logo {
  height: 40%;
  width: 25%;
}

.footer-list li {
  color: #adadad;
  font-family: system-ui;
  font-size: 100%;
  margin: 10px 0;
}
/* ************************** Footer End ********************************************************* */

/* ************************************* Mobile Design Start******************************** */

@media screen and (max-width: 600px) {
  /* ************************** First Section Start ********************************************************* */
  .first-section {
    background-image: linear-gradient(to bottom, #ff4900e8, #ff0000ed),
      url(./images/bg-pattern-intro-mobile.svg);
    background-position: 40% 20%;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 0px 100vh 100vw #ffffff42 inset;
    height: 100vh;
    padding-top: 0;
    width: 100%;
  }

  /* ******************************* Header Start ********************************** */
  .header {
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
  }
  /* ************************************************* */
  .header-logo {
    width: 30%;
  }

  .menu-icon {
    display: inline-block;
    position: relative;
  }

  .menu-div {
    display: block;
    width: auto;
  }

  .menu-div:hover .menu-icon {
    display: none;
  }

  .menu-div:hover .close-icon {
    display: inline-block;
    position: relative;
  }

  .menu-div:hover .menu-items-div {
    display: block;
  }
  /* ************** Header Menu ********************/

  .menu-items-div {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: #000;
    display: none;
    left: 10%;
    padding: 10px;
    position: absolute;
    right: 10%;
    top: 15%;
    width: 80%;
  }

  .items-div {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .menu-item {
    color: #000;
    text-align: center;
    width: 100%;
  }

  .menu-item h3::after {
    content: url(./images/icon-arrow-dark.svg);
  }

  .menu-item:hover h3::after {
    content: url(./images/icon-arrow-dark.svg);
    display: inline-block;
    transform: rotate(180deg);
  }

  .menu-item-drop {
    position: relative;
    visibility: hidden;
  }

  .menu-item:hover .menu-item-drop {
    background-color: #99999931;
    border-radius: 10px;
    color: #000;
    margin: 15px auto;
    padding: 20px;
    visibility: visible;
    width: 90%;
  }

  .login-signup-btns {
    border-top: 1px solid #99999931;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
  }

  .login-btn {
    color: #000;
    font-size: 18px;
    font-weight: bold;
  }

  .signup-btn {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 29px;
    background-image: linear-gradient(to right, #e5958c, #fb0000);
  }

  /* ******************************* Header End ********************************** */

  /* ***************************** First section text Start ********************** */

  .hero-subject {
    font-size: 40px;
    margin-top: 40px;
    max-width: 80%;
  }

  .first-section-p {
    font-size: 18px;
    max-width: 70%;
  }

  .first-section-btns {
    margin-top: 100px;
    width: 75%;
  }

  .start-btn {
    background-color: #fff;
    border-radius: 29px;
    color: #fb0000;
    font-size: 100%;
    font-weight: bold;
    padding: 3% 5%;
  }

  .start-btn:hover {
    color: #fff;
  }

  .learn-btn {
    background: none;
    border-radius: 29px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    padding: 3% 5%;
  }
  /* ***************************** First section text End ********************** */

  /* ************************** First Section End ********************************************************* */

  /* ************************** Second Section Start ********************************************************* */
  .second-section {
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }

  .second-sec-content {
    flex-direction: column;
  }

  .second-section-h {
    font-size: 140%;
    margin-top: 50px;
    top: 0px;
  }

  .second-sec-text {
    text-align: center;
    width: 80%;
  }

  /* .second-sec-content::after {
    content: none;
  }

  .second-sec-content::before {
    content: url(./images/illustration-editor-mobile.svg);
    margin: 50px auto;
  } */

  .phone-editor-img {
    display: block;
    margin: 50px auto;
    width: 90%;
  }

  .desktop-editor-img {
    display: none;
  }

  .second-sec-h {
    font-size: 20px;
  }

  .second-sec-p {
    font-size: 15px;
  }

  .editor-img {
    width: 80%;
    right: 0px;
    margin-top: 50px;
  }

  /* ************************** Second Section End ********************************************************* */
  /* ************************** Third Section Start ********************************************************* */
  .third-section {
    background-position: 45% 253%;
    flex-direction: column;
    height: auto;
    margin-bottom: 50px;
    margin: 200px 0;
  }

  .third-sec-text {
    margin: 50px auto;
    padding-bottom: 50px;
    text-align: center;
  }

  .third-sec-h {
    font-size: 140%;
  }

  .third-sec-p {
    line-height: 29px;
  }

  .phone-img {
    height: auto;
    position: relative;
    top: -90px;
    width: 100%;
  }

  /* ************************** Third Section End ********************************************************* */

  /* ************************** Fourth Section Start ********************************************************* */
  .fourth-section {
    flex-direction: column;
    height: auto;
    width: 100vw;
  }

  .fourth-sec-text {
    text-align: center;
    width: 90%;
  }

  .desktop-laptop-img {
    display: none;
  }

  .phone-laptop-img {
    display: block;
    width: 95%;
  }

  .fourth-sec-h {
    font-size: 140%;
  }

  .fourth-sec-p {
    font-size: 95%;
    line-height: 25px;
  }

  /* ************************** Fourth Section End ********************************************************* */

  /* ************************** Footer Start ********************************************************* */
  .footer {
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: fit-content;
    justify-content: center;
    margin-top: 50px;
    padding: 20% 20%;
    text-align: center;
  }

  .footer-h3 {
    font-size: 140%;
  }

  .footer-list li {
    font-size: 15px;
  }
  /* ************************** Footer End ********************************************************* */
}

@media screen and (min-width: 601px) and (max-width: 1143px) {
  .login-btn {
    font-size: 13px;
  }

  .signup-btn {
    font-size: 13px;
  }

  .header-logo {
    height: 50%;
    width: 15%;
  }

  .menu-item {
    font-size: 85%;
  }
}
